# Adapted from https://help.github.com/articles/dealing-with-line-endings/ and https://gist.github.com/kenlimmj/11064956

# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto
 
# These files are text and should be normalized (Convert crlf => lf)
*.xml text
*.txt text
*.py text
*.json text
*.yaml text
 
# These files are binary and should be left unmodified
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.class binary
*.dll binary
*.so binary
*.jar binary
*.lib binary
 
# Documents
*.doc  diff=astextplain
*.docx diff=astextplain
*.dot  diff=astextplain
*.pdf  diff=astextplain
*.rtf  diff=astextplain

# Visual Studio
*.sln    text eol=crlf
*.def    text eol=crlf
*.vcproj text eol=crlf
